# mac
.DS_Store

# config
.envrc
atryum.toml

# data
atryum.db

# ide/ai/misc
.pi
.direnv
*.nix
.codex
__inspiration
opencode-state

# development
docker-compose.override.yml

# build
atryum
releases

# frontend build
internal/api/web/assets/
internal/api/web/atryum-logo.png
